<div id="slider-wrapper">
  <div id="slider" class="nivoSlider">
    <%= image_tag "slider/01.jpg" %>
    <a href="#"><%= image_tag "slider/02.jpg" %></a>
    <%= image_tag "slider/03.jpg" %>
    <%= image_tag "slider/04.jpg", title: "#htmlcaption" %>
  </div>
  <div id="htmlcaption" class="nivo-html-caption">
    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
  </div>
</div>
<script type="text/javascript" src="jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#slider').nivoSlider();
    });
</script>
<h1>New Products</h1>

<% 10.times do %>

    <div class="product_box">
      <h3>Ut eu feugiat</h3>
      <a href="productdetail.html"><%= image_tag "product/01.jpg" %></a>

      <p>Nulla rutrum neque vitae erat condimentum eget malesuada.</p>

      <p class="product_price">$ 100</p>
      <a href="shoppingcart.html" class="addtocart"></a>
      <a href="productdetail.html" class="detail"></a>
    </div>
<% end %>

